HOST_PORT=8081
HOST_HTTP=0.0.0.0

DB_USER=root
DB_PASSWORD=root
DB_HOST=localhost
DB_PORT=3305
DB_SCHEMA=go_api
DB_DRIVE=mysql

MONGO_HOST=mongodb://root:rootlocalhost:27017
MONGO_HOST=mongodb://localhost:27017
MONGO_USER=root
MONGO_PASSWORD=root
MONGO_AUTH_SOURCE=admin
MONGO_DATABASE=db

REDIS_HOST=localhost
REDIS_PORT=6379

GRPC_CLIENT_URL=localhost:50044
GRPC_SERVER_PORT=50054

RABBIT_MQ_HOST=localhost
RABBIT_MQ_PORT=5672
RABBIT_MQ_USERNAME=admin
RABBIT_MQ_PASSWORD=admin
RABBIT_MQ_PROTOCOL=amqp
RABBIT_MQ_VHOST=/


JSON_PLACE_OLDER_INTEGRATION_URL=https://jsonplaceholder.typicode.com